<nav>
    <ul>
        <li><a href = "/logout"> logout</a></li>
    </ul>
</nav>
<section>
    <dl>
      <dt>ID</dt>
      <dd>{{ user._id }}</dd>
      <dt>User Name</dt>
      <dd>{{ user.username }}</dd>
      <dt>First Name</dt>
      <dd>{{ user.firstName }}</dd>
      <dt>Last Name</dt>
      <dd>{{ user.lastName }}</dd>
      <dt>Profession</dt>
      <dd>{{ user.profession }}</dd>
      <dt>Bio</dt>
      <dd>{{ user.bio }}</dd>
    </dl> 
  </section>