<h1>Person Found</h1>
<h2>{{this.FirstName}} {{this.LastName}}</h2>
<main>
    <dl>
        <dt>ID</dt>
        <dd>{{this.ID}}</dd>
        <dt>First Name</dt>
        <dd>{{this.FirstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{this.LastName}}</dd>
        <dt>Address</dt>
        <dd>{{this.Address}}</dd>
        <dt>Zip Code</dt>
        <dd>{{this.ZipCode}}</dd>
        <dt>Phone</dt>
        <dd>{{this.Phone}}</dd>
        <dt>Social Security Number</dt>
        <dd>{{this.SSN}}</dd>
    </dl>
    <nav>
        <ul>
        <li><a href="/">Back</a></li>
        </ul>
    </nav>
</main>